# **Experiment 2: Use of input statements, operators**

---

---

 ### ***1. Declare these variables (x, y and z) as integers.***
   - Assign a value of 9 to x. Assign a value of 7 to y, perform addition, 
   -  multiplication, division and subtraction on these two variables and print out the result.

In [2]:
x=9
y=7
 
print("Sum of (x+y)=", x+y)
print("Multiplication of (x*y)=", x*y)
print("Division of (x/y)=", x/y)
print("Subraction of (x-y)=", x-y)

Sum of (x+y)= 16
Multiplication of (x*y)= 63
Division of (x/y)= 1.2857142857142858
Subraction of (x-y)= 2

---

### ***2. Write a Program where the radius is taken as input to compute the area of a circle.***

In [3]:
r=6
area=3.14*r*r
print("The area of circle is =", area)

The area of circle is = 113.03999999999999

---

 ### ***3. Write a Python program to solve (x+y)*(x+y)**

In [5]:
x=4
y=3
z=(x+y)*(x+y)
print("The solution of the problem is ", z)

The solution of the problem is  49

---

### ***4. Write a program to compute the length of the hypotenuse (c) of a right triangle using Pythagoras theorem.***

In [ ]:
a=6
b=8
c=((a**2)+(b**2))**0.5
print("The Hypoteneuse of the right angle triangle is ", c)

The Hypoteneuse of the right angle triangle is  10.0

---

### ***5. Write a program to find simple interests.***

In [12]:
p= 1400
r=12
t=5 
si=(p*r*t)/100
print("The simple interest will be ", si)

The simple interest will be  840.0

---

### ***6. Write a program to find area of triangle when length of sides are given.***

In [13]:
base=21
height= 34
area=0.5*base*height
print("The area of triangle is ", area)

The area of triangle is  357.0

---

### ***7. Write a program to convert given seconds into hours, minutes and remaining seconds.***

In [3]:
sec=219458655
hours=sec//3600
min=sec%3600
minutes=min//60
sec=min%60
print("The time is ", hours,"hours", minutes,"minutes", sec,"Seconds")

The time is  60960 hours 44 minutes 15 Seconds

---

### ***8. Write a program to swap two numbers without taking additional variable.***

In [30]:
a=12
b=34
a,b=b,a
print("a=",a,"b=",b)

a= 34 b= 12

---

### ***9. Write a program to find sum of first n natural numbers.***

In [31]:
a=45
sum=0
for i in range(a):
    sum+=i
print("The sum of ",a,"is",sum)

The sum of  45 is 990

----

### ***10. Write a program to print truth table for bitwise operators (&, |, and ^ operators)***

In [14]:
print("--------------------")

print("|A B  | A&B A|B A^B|")
print("|-----|------------|")

for a in (0, 1):
    for b in (0, 1):
        print("|",a, b, "|", a & b, " ", a | b, " ", a ^ b, " |")

print("--------------------")

--------------------
|A B  | A&B A|B A^B|
|-----|------------|
| 0 0 | 0   0   0  |
| 0 1 | 0   1   1  |
| 1 0 | 0   1   1  |
| 1 1 | 1   1   0  |
--------------------

---

### ***11. Write a program to find left shift and right shift values of a given number.***

In [2]:
num=int(input("Enter a number: "))
s=int(input("Enter number of positions to shift: "))
ls = num << s
rs = num >> s
print("Left Shift Value:", ls)
print("Right Shift Value:", rs)

Left Shift Value: 10
Right Shift Value: 2

---

### ***12. Using membership operator find whether a given number is in sequence (10,20,56,78,89)***

In [3]:
l=[5,8,82,1,8,5]
n=int(input("Enter an number to check in squence"))
if n in l:
    print("The number is in sequence")
else:
    print("The number is not in sequence")

The number is in sequence

---

### ***13. Using membership operator find whether a given character is in a string.***

In [5]:
l="fjfsbjkerniesunsituehtui"
n=input("Enter an number to check in squence")
if n in l:
    print("The character is in sequence")
else:
    print("The Character is not in sequence")

The character is in sequence

---

---